/* :root {
  -–body_bg: #c5c5c5;
  -–primary: #8132a3;
  -–light: #eeeeee;
  -–white: #ffffff;
  -–black: #000000;
} */

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #c5c5c5;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
}
.headColor {
  background-color: #8132a3;
  height: 0.5rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.dataContaner {
  padding: 20px;
}
.card img {
  border-radius: 50%;
  height: 150px;
  margin-bottom: 20px;
  width: 150px;
}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.card label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  text-align: left;
}
.card .value {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}
.hrLine {
  margin: 3px;
  opacity: 0.5;
}
